.body{
    display: flex;
    justify-content: space-between;
}
.left__body{
    flex:1;
    margin-right: 10px;
    margin-left: 10px;
}
.right__body{
    flex:1
}
.right__Cards{
    display: flex;
    flex-direction: row;   
}
.right__Cards>
.right__body{
    display: flex;
    flex-direction: column;
}
.maps>svg{
    width:700px;
    position: static !important;
    float: right;
    top:30px;
    margin-top: 0;    
}

